src/**
tsconfig.json
.eslintrc.json
.gitignore
.vscode/
node_modules/typescript/**
node_modules/@types/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
**/*.map
**/*.ts
!out/**
!package.json
!README.md
!LICENSE.txt
!CLAUDE.md
!assets/**
!templates/**